/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  border: 10px solid rgb(150, 50, 100);
}

.inner-box {
  background-color: red;
}

p{
  color: white;
}